@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 0 0% 99%;
    --ring: 284 45% 72%;
    --input: 220 13% 91%;
    --muted: 284 32% 87%;
    --accent: 284 15% 72%;
    --border: 220 13% 91%;
    --popover: 0 0% 99%;
    --primary: 284 45% 72%;
    --secondary: 284 5% 82%;
    --background: 284 64% 100%;
    --foreground: 284 65% 5%;
    --destructive: 15 97% 38%;
    --card-foreground: 284 65% 4%;
    --muted-foreground: 284 14% 39%;
    --accent-foreground: 284 15% 12%;
    --popover-foreground: 284 65% 4%;
    --primary-foreground: 284 45% 12%;
    --secondary-foreground: 284 5% 22%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 284 59% 2%;
    --ring: 284 45% 72%;
    --input: 215 27.9% 16.9%;
    --muted: 284 32% 13%;
    --accent: 284 22% 25%;
    --border: 215 27.9% 16.9%;
    --popover: 284 59% 2%;
    --primary: 284 45% 72%;
    --secondary: 284 17% 18%;
    --background: 284 59% 1%;
    --foreground: 284 10% 97%;
    --destructive: 15 97% 56%;
    --card-foreground: 284 10% 98%;
    --muted-foreground: 284 14% 61%;
    --accent-foreground: 284 22% 85%;
    --popover-foreground: 284 10% 98%;
    --primary-foreground: 284 45% 12%;
    --secondary-foreground: 284 17% 78%;
    --destructive-foreground: 0 0% 0%;
  }

  .hover-enlarge:hover img {
    transform: scale(1.02);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
